body {
    background: #f1f1f1;
}

.popup {
    width: 500px;
}

.tabs {
    width: 100%;
    display: flex;
    height: 40px;
    font-size: 25px;
    margin-bottom: 10px;
}

.tab {
    background: #f9f9f9;
    width: 50%;
    cursor: pointer;
    text-align: center;
}

.tab.active {
    background: #f1f1f1;
    cursor: inherit;
}

.tab:not(.active):hover {
    background: #ddd;
}

.input {
    font-size: 17px;
    width: 350px;
}

.inputSmall {
    font-size: 17px;
    width: 100px;
}

.label {
    font-size: 15px;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.inputBlockSmall {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.second {
    justify-content: flex-end;
}

.second > .label {
    margin-right: 8px;
}

.button {
    width: 100%;
    font-size: 20px;
    pointer-events: all !important; /* hacking disabled button tooltip */
}

.hidden {
    display: none;
}

.sendedBlock {
    text-align: center;
    font-size: 20px;
    color: green;
}

.failedBlock {
    text-align: center;
    font-size: 20px;
    color: red;
}

.progress {
    height: 20px;
    width: 100%;
}

table {
    display: table;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 15px;
}

th {
    background: #C1C1C1;
    font-weight: bold;
}

th, td {
    border: 1px solid gray;
}

.duplicates.button {
    margin-top: 5px;
}
